<main>
    <div class="fotos-campus">
        <a href="imgs/img7.jpg" class="campus-fotos">
            <img src="imgs/img7.jpg" alt="foto1">
            <figcaption>Meteorito do Bendegó - 1784 sertão  da Bahia</figcaption>
        </a>

        <a href="imgs/img8.jpg" class="campus-fotos">
            <img src="imgs/img8.jpg" alt="foto2">
            <figcaption>Urna funerária Marajoara, 400-1400 d.C.</figcaption>
        </a>
        <a href="imgs/img9.jpg" class="campus-fotos">
            <img src="imgs/img9.jpg" alt="foto3">
            <figcaption>Vênus ou Leda. Escultura Grego-Romana</figcaption>
        </a>
        <a href="imgs/img10.jpg" class="campus-fotos">
            <img src="imgs/img10.jpg" alt="foto4">
            <figcaption>Sala da exposição Conchas, Corais e Borboletas.</figcaption>
        </a>
        <a href="imgs/img11.jpg" class="campus-fotos">
            <img src="imgs/img11.jpg" alt="foto5">
            <figcaption>Cultura Chancay. Tecido representando de aves</figcaption>
        </a>
        <a href="imgs/img13.jpg" class="campus-fotos">
            <img src="imgs/img13.jpg" alt="foto6">
            <figcaption>Sala do Antigo Egito com múmias e sarcófagos.</figcaption>
        </a>
        <a href="imgs/img14.jpg" class="campus-fotos">
            <img src="imgs/img14.jpg" alt="foto7">
            <figcaption>Palácio de São Cristóvão, Atual Museu Nacional</figcaption>
        </a>
        <a href="imgs/img15.jpg" class="campus-fotos">
            <img src="imgs/img15.jpg" alt="foto8">
            <figcaption>Lagoa do Museu Nacional UFRJ</figcaption>
        </a>
        <a href="imgs/img16.jpg" class="campus-fotos">
            <img src="imgs/img16.jpg" alt="foto9">
            <figcaption>Detalhes internos reconstrução pós-incêndio</figcaption>
        </a>
        <a href="imgs/img17.jpg" class="campus-fotos">
            <img src="imgs/img17.jpg" alt="foto9">
            <figcaption>Vênus ou Leda. Escultura Grego-Romana</figcaption>
        </a>
        <a href="imgs/img18.jpg" class="campus-fotos">
            <img src="imgs/img18.jpg" alt="foto9">
            <figcaption>Vênus ou Leda. Escultura Grego-Romana</figcaption>
        </a>
        <a href="imgs/img19.jpg" class="campus-fotos">
            <img src="imgs/img19.jpg" alt="foto9">
            <figcaption>Vênus ou Leda. Escultura Grego-Romana</figcaption>
        </a>
    </div>
</main> 