<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <p>texto de teste</p>
        <button> Texto Do Botão </button>
        <button> Botão Teste </button>
        <button> Salvar </button>
        <p></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
