
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - projectone</title>
    <link rel="stylesheet" href="~/css/estilo.css" asp-append-version="true" />
</head>
<body>
    <div id="container">
        <!--inicio de container-->
        <header>
            <!--inicio de header-->
            <div id="logo">
                <h1><a href="#">Museu Nacional</a></h1>
            </div>
            <nav>
                <!--inicio de nav-->
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="index exposiçoes.html">Exposição</a></li>
                    <li><a href="#">Pesquisa</a></li>
                    <li><a href="#">Acervos</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="/home/fotos">Fotos</a></li>
                    <li><a href="index contato.html">Contato</a></li>
                </ul>
            </nav> <!--fim de nav-->
        </header>
      
                @RenderBody()
        <footer>
            <p>
                <a href="Index.html">home</a>
                <a href="index exposiçoes.html">Exposição</a>
                <a href="#">Pesquisa</a>
                <a href="#">Acervos</a>
                <a href="#">Videos</a>
                <a href="index fotos.html">Fotos</a>
                <a href="index contato.html">Contato</a>
            </p>
            <p>
                2019 <a href="">Museu Nacional</a>- Todos os Diretos Reservados.
            </p>
        </footer>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
